body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

#container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#room-title {
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  border-bottom: 2px solid black;
  padding: 5px 0;
}

#chat-history {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid black;
  overflow-y: scroll;
}

.chat-box {
  margin: 10px;
  padding: 5px;
  border: 2px dashed #90979D;
  border-radius: 5px;
}

.chat-from {
}

.chat-message {
}

#message {
  width: calc(100% - 20px);
  margin: 0;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px;
  flex-basis: content;
}

