body {
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

form {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input#room-id {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #0bb04a;
}

button {
  outline: none;
  font-size: 20px;
  background-color: #ee7431;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

